<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/Estilos/EstilosEncabezadoUsuarioFinal.css">
    <link rel="stylesheet" href="/Estilos/EstiloHome.css" />
    <link rel="stylesheet" href="/Estilos/Footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Copse&family=Karla:wght@300&display=swap" rel="stylesheet">
    <title>Home Usuario Final</title>
</head>
<!-- Encabezado de la página -->
<header>
    <!-- Sección con el logo y nombre del producto -->
    <img src="/imagenes/Growth_logo.png">
    <div class="nombre_equipo">
        <h3><a href="/Usuario Final/HomeUsuarioFinal.html">Growth</a></h3>
        <p><a href="/Usuario Final/HomeUsuarioFinal.html">Cultivando el crecimiento y los sueños</a></p>
    </div> 
    <!-- Sección con enlaces -->
    <div class="Enlaces">
        <div class="opciones_menu">
            <img src="/imagenes/Notificaciones.png">
            <a href="/Usuario Final/NotificacionesUsuarios.html" class="opciones">Notificaciones</a>
        </div>
        <div class="opciones_menu">
            <img src="/imagenes/Reportes.png">
            <a href="/Usuario Final/reportesUsuarioFinal.html" class="opciones">Mis reportes</a>
        </div>
        <div class="opciones_menu">
            <img src="/imagenes/Mi_perfil.png">
            <a href="/Usuario Final/PerfilUsuarioFinal.html" class="opciones">Mi perfil</a>
        </div>
        <div class="opciones_menu">
            <img src="/imagenes/cerrar_sesion.png">
            <a href="/HomeGrowth.html" class="opciones">Cerrar Sesión</a>
        </div>
    </div>
</header>
<body>
    <div class="pagina_principal">
        <div class="columna_1">
            <div class="cuadro_borde">
                <div class="cuadro_fondo">
                    <h1><span id="nombre">Nombre completo del aplicante</span></h1>
                    <p><strong>Correo: </strong><span id="correo">ejemplo@codecraft.com</span></p>
                    <p><strong>Cédula: </strong><span id="cedula">0-0000-0000</span></p>
                    <div id="circulo_borde">
                        <div id="circulo_fondo">
                            <img src="/Imagenes/usuario.png" alt="Usuario" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="filtro">
                <form action="" method="post">
                    <div class="filtro_individual">
                        <div class="imagen_filtro">
                            <img src="/Imagenes/Lupa.png" alt="buscar">
                        </div>
                        <input type="text" placeholder="Categoría, empresa o palabra clave">
                    </div>
                    <div class="filtro_individual">
                        <div class="imagen_filtro">
                            <img src="/Imagenes/Paper.png" alt="lista">
                        </div>
                        <select name="Tipo de trabajo">
                            <option selected disabled>Tipo de trabajo</option>
                            <option>Ingeniería</option>
                            <option>Medicina</option>
                            <option>Educación</option>
                        </select>
                    </div>
                    <div class="filtro_individual">
                        <div class="imagen_filtro">
                            <img src="/Imagenes/Oficina.png" alt="Oficina">
                        </div>
                        <select name="Oficina">
                            <option selected disabled>Oficina</option>
                            <option>Sykes</option>
                            <option>Claro</option>
                            <option>Intel</option>
                        </select>
                    </div>
                    <div class="filtro_individual">
                        <div class="imagen_filtro">
                            <img src="/Imagenes/Ubicación.png" alt="Ubicación">
                        </div>
                        <select name="Provincia">
                            <option selected disabled>Provincia</option>
                            <option>San José</option>
                            <option>Alajuela</option>
                            <option>Heredia</option>
                            <option>Cartago</option>
                            <option>Guanacaste</option>
                            <option>Puntarenas</option>
                            <option>Limón</option>
                        </select>
                    </div>
                    <div class="filtro_individual">
                        <div class="imagen_filtro">
                            <img src="/Imagenes/Dinero.png" alt="Salario">
                        </div>
                        <select name="Salario">
                            <option selected disabled>Tipo de trabajo</option>
                            <option>500 000-600 000</option>
                            <option>700 000-800 000</option>
                            <option>900 000-1 000 000</option>
                            <option>1 500 000 o más</option>
                        </select>
                    </div>
                    <button type="submit">Aplicar filtro</button>
                </form>
            </div>
        </div>
        <div class="cuadro_borde2">
            <div class="cuadro_fondo2">
                <h3>Ofertas que te podrían interesar</h3>
                <!-- Ejemplo de oferta 1-->
                <div class="ofertas">
                    <div class="ofertas_2">
                        <div class="informacion">
                            <h1>Coordinador de Marketing</h1>
                            <p><span id="nombre_empresa">Nombre de la empresa</span></p>
                            <p><span id="provincia">Provincia</span></p>
                            <p><span id="otros_datos">Responsable de coordinar y ejecutar campañas de marketing, promociones y actividades de branding, junto con la...</span></p>
                        </div>
                        <div class="logo_empresa">
                            <img src="/Imagenes/logo_empresas.png" alt="logo">
                        </div>
                    </div>
                    <a href="/Usuario Final/PuestoDetalles.html">Ver más</a>
                </div>
                <!-- Ejemplo de oferta 2-->
                <div class="ofertas">
                    <div class="ofertas_2">
                        <div class="informacion">
                            <h1>Asistente de operaciones</h1>
                            <p><span id="nombre_empresa">Nombre de la empresa</span></p>
                            <p><span id="provincia">Provincia</span></p>
                            <p><span id="otros_datos">Encargado de coordinar y supervisar las actividades diarias de la empresa, garantizando que los procesos operativos se ejec...</span></p>
                        </div>
                        <div class="logo_empresa">
                            <img src="/Imagenes/logo_empresas.png" alt="logo">
                        </div>
                    </div>
                    <a href="/Usuario Final/PuestoDetalles.html">Ver más</a>
                </div>
                <!-- Ejemplo de oferta 3-->
                <div class="ofertas">
                    <div class="ofertas_2">
                        <div class="informacion">
                            <h1>Asesor junior</h1>
                            <p><span id="nombre_empresa">Nombre de la empresa</span></p>
                            <p><span id="provincia">Provincia</span></p>
                            <p><span id="otros_datos">Responsable de recopilar, analizar y presentar datos e información relevante para apoyar la toma de decisiones estrate...</span></p>
                        </div>
                        <div class="logo_empresa">
                            <img src="/Imagenes/logo_empresas.png" alt="logo">
                        </div>
                    </div>
                    <a href="/Usuario Final/PuestoDetalles.html">Ver más</a>
                </div>
                <!-- Ejemplo de oferta 4-->
                <div class="ofertas">
                    <div class="ofertas_2">
                        <div class="informacion">
                            <h1>Ejecutiva de telemercadeo</h1>
                            <p><span id="nombre_empresa">Nombre de la empresa</span></p>
                            <p><span id="provincia">Provincia</span></p>
                            <p><span id="otros_datos">Encarga de realizar llamadas a clientes potenciales, presentar productos o servicios de la empresa, responder consultas y...</span></p>
                        </div>
                        <div class="logo_empresa">
                            <img src="/Imagenes/logo_empresas.png" alt="logo">
                        </div>
                    </div>
                    <a href="/Usuario Final/PuestoDetalles.html">Ver más</a>
                </div>
                <!-- Ejemplo de oferta 5-->
                <div class="ofertas">
                    <div class="ofertas_2">
                        <div class="informacion">
                            <h1>Marketing Art</h1>
                            <p><span id="nombre_empresa">Nombre de la empresa</span></p>
                            <p><span id="provincia">Provincia</span></p>
                            <p><span id="otros_datos">Responsable de coordinar y ejecutar campañas de marketing, promociones y actividades de branding, junto con la...</span></p>
                        </div>
                        <div class="logo_empresa">
                            <img src="/Imagenes/logo_empresas.png" alt="logo">
                        </div>
                    </div>
                    <a href="/Usuario Final/PuestoDetalles.html">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Pie de página -->
<footer>
    <!-- Apartado de contacto -->
    <div id="contactanos">
      <ul>
        <h4>CONTÁCTANOS</h4>
        <li>Teléfono: +506 8824 2887</li>
        <li>WhatsApp: +506 6052 5912</li>
        <li>Correo: serviciosinfo@growth.ac.cr</li>
        <li>Dirección: Calle 49, a un costado del Mall San</li>
        <li>Pedro, Montes de Oca, San José, Costa Rica</li>
      </ul>
    </div>
    <!-- Apartado de información acerca de la empresa y el producto -->
    <div id="acercade">
      <h4>ACERCA DE</h4>
      <div class="enlaces">
        <img src="/imagenes/nuestro producto.png" alt="nuestro producto" />
        <a href="/LandingPageProducto.html">Nuestro Producto</a>
      </div>
      <div class="enlaces">
        <img src="/imagenes/sobre nosotros.png" alt="sobre nosotros" />
        <a href="/LandingPageCodeCraft.html">Nuestro equipo</a>
      </div>
    </div>
    <!-- Apartado de redes -->
    <div id="redes">
      <h4>REDES</h4>
      <img src="/imagenes/facebook_logo.png" alt="facebook_logo" />
      <img src="/imagenes/twitter_logo.png" alt="twitter_logo" />
      <img src="/imagenes/instagram_logo.png" alt="instagram_logo" />
    </div>
    <!-- Apartado con copyright -->
    <div id="copyright">
        <p>&copy Copyright 2023 Growth</p>
    </div>
</footer> 
</html> 