<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Estilos/EstilosEncabezadoUsuarioFinal.css">
    <link rel="stylesheet" href="/Estilos/EstiloNotificaciones.css">
    <link rel="stylesheet" href="/Estilos/Footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Copse&family=Karla:wght@300&display=swap" rel="stylesheet">
    <title>Notificaciones de manager</title>
</head>
<!-- Encabezado de la página -->
<header>
    <!-- Sección con el logo y nombre del producto -->
    <img src="/imagenes/Growth_logo.png">
    <div class="nombre_equipo">
        <h3><a href="/Manager/HomeManager.html">Growth</a></h3>
        <p><a href="/Manager/HomeManager.html">Cultivando el crecimiento y los sueños</a></p>
    </div> 
    <!-- Sección con enlaces -->
    <div class="Enlaces">
        <div class="opciones_menu">
            <img src="/imagenes/Notificaciones.png">
            <a href="/Manager/NotificacionesManager.html" class="opciones">Notificaciones</a>
        </div>
        <div class="opciones_menu">
            <img src="/imagenes/Reportes.png">
            <a href="/Manager/ReportesManager.html" class="opciones">Mis reportes</a>
        </div>
        <div class="opciones_menu">
            <img src="/imagenes/Mi_perfil.png">
            <a href="/Manager/PerfilManager.html" class="opciones">Mi perfil</a>
        </div>
        <div class="opciones_menu">
            <img src="/imagenes/cerrar_sesion.png">
            <a href="/HomeGrowth.html" class="opciones">Cerrar Sesión</a>
        </div>
    </div>
</header>
<!-- Cuerpo de la página -->
<body>
    <h1 id="titulo">Mis notificaciones</h1>
<!-- Notificación 1 -->
    <div class="centrar_cuadro">
        <div class="notificacion">
            <!-- Título y remitente -->
            <div id="cabeza_notificacion">
                <h4><span id="tituloNotificacion">Nuevo puesto</span></h4>
                <p>De: <span id="remitente">Equipo de Growth</span></p>
            </div>
            <!-- Cuerpo y fecha del mensaje -->
            <p><span id="cuerpoNotificacion">Haz creado un nuevo puesto de "Coordinador de marketing". La oferta es visible para cualquier usuario y en breves comenzarán a llegar numerosas postulaciones. Si deseas modificar la información, ingresa al enlace "crear / ver puestos" que se encuentra en tu página principal. </span></p>
            <p id="fecha">Fecha: <span id="fechaNotificacion">15/06/2023</span></p>
        </div>
    </div>
<!-- Notificación 2 -->
<div class="centrar_cuadro">
    <div class="notificacion">
        <!-- Título y remitente -->
        <div id="cabeza_notificacion">
            <h4><span id="tituloNotificacion">Nuevo puesto</span></h4>
            <p>De: <span id="remitente">Equipo de Growth</span></p>
        </div>
        <!-- Cuerpo y fecha del mensaje -->
        <p><span id="cuerpoNotificacion">Haz creado un nuevo puesto de "Analista programador". La oferta es visible para cualquier usuario y en breves comenzarán a llegar numerosas postulaciones. Si deseas modificar la información, ingresa al enlace "crear / ver puestos" que se encuentra en tu página principal. </span></p>
        <p id="fecha">Fecha: <span id="fechaNotificacion">15/06/2023</span></p>
    </div>
</div>
</body>
<!-- Pie de página -->
<footer>
    <!-- Apartado de contacto -->
    <div id="contactanos">
      <ul>
        <h4>CONTÁCTANOS</h4>
        <li>Teléfono: +506 8824 2887</li>
        <li>WhatsApp: +506 6052 5912</li>
        <li>Correo: serviciosinfo@growth.ac.cr</li>
        <li>Dirección: Calle 49, a un costado del Mall San</li>
        <li>Pedro, Montes de Oca, San José, Costa Rica</li>
      </ul>
    </div>
    <!-- Apartado de información acerca de la empresa y el producto -->
    <div id="acercade">
      <h4>ACERCA DE</h4>
      <div class="enlaces">
        <img src="/imagenes/nuestro producto.png" alt="nuestro producto" />
        <a href="/LandingPageProducto.html">Nuestro Producto</a>
      </div>
      <div class="enlaces">
        <img src="/imagenes/sobre nosotros.png" alt="sobre nosotros" />
        <a href="/LandingPageCodeCraft.html">Nuestro equipo</a>
      </div>
    </div>
    <!-- Apartado de redes -->
    <div id="redes">
      <h4>REDES</h4>
      <img src="/imagenes/facebook_logo.png" alt="facebook_logo" />
      <img src="/imagenes/twitter_logo.png" alt="twitter_logo" />
      <img src="/imagenes/instagram_logo.png" alt="instagram_logo" />
    </div>
    <!-- Apartado con copyright -->
    <div id="copyright">
        <p>&copy Copyright 2023 Growth</p>
    </div>
</footer> 
</html> 