body {
    background: #fffbf4;
    height: 100%;
}
  
.pagina_principal{
    padding: 200px 146px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
}

.columna_1, .columna_2{
    column-count: 1;
}

.columna_1{
    margin-right: 140px;
}

/* Cuadros con degradados redondeados */

.cuadro_borde, .cuadro_borde_2{
    background: linear-gradient(to left, #F9D423, #F83600);
    border-radius: 40px;
    width: 521px;
    height: fit-content;
    padding: 5px;
}

.cuadro_fondo, .cuadro_fondo_2{
    border-radius: 40px;
    min-height: 182px;
    width: 435px;
    background: white;
    padding: 42px;
    font-family: "Commissioner", sans-serif;
}

.cuadro_borde_2{
    width: 817px;
}

.cuadro_fondo_2{
    width: 731px;
}

/*Crear un puesto de trabajo*/

.cuadro_borde{
    margin-bottom: 100px;
}

.cuadro_fondo h1{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.cuadro_fondo a{
    background: repeating-linear-gradient(to top, #F83600, #F9D423);
    font-weight: bolder;
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    margin-left: 33%;
}

/* Invitaciones */

.invitaciones{
    width: 455px;
    min-height: 820px;
    background-color: #FFF2DE;
    border-radius: 20px;
    font-family: "Commissioner", sans-serif;
    margin-bottom: 53px;
    margin-left: 50px;
    margin-right: 80px;
}

.invitaciones h1{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-top: 37px;
    margin-bottom: 40px;
}

.invitaciones p, .invitaciones label, .invitaciones input, .invitaciones textarea{
    display: block;
    font-size: 16px;
    text-align: left;
    margin-left: 37px;
}

.invitaciones p{
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 35px;
}

.invitaciones input{
    width: 335px;
    height: 50px;
    margin-top: 23px;
    padding-left: 15px;
    border: none;
    border-radius: 40px;
}

.espacio_mensajes{
    text-align: left;
}

.invitaciones input[type="radio"]{
    width: 16px;
    height: 16px;
}

.mensaje p{
    margin-left: 10px;
    margin-top: 17px;
    margin-bottom: 0px;
}

.mensaje input, .mensaje p{
    display: inline-block;
    text-align: left;
}

.invitaciones textarea{
    width: 335px;
    height: 192px;
    border: none;
    border-radius: 20px;
    margin-top: 37px;
    font-family: "Commissioner", sans-serif;
    padding: 10px;
}

#enviar {
    background: repeating-linear-gradient(to top, #F83600, #F9D423);
    border: none;
    font-size: 16px;
    font-weight: bolder;
    width: 158px;
    height: 47px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30%;
    border-radius: 20px;
}

/* Reporte de aplicaciones */

.encabezado_puesto{
    border-bottom: 2px solid #f87400;
    display: flex;
    gap: 35%;
    margin: 0px -42px;
}

.encabezado_puesto h3{
    font-size: 24px;
    padding-left: 42px;
    padding-bottom: 30px;
}

.encabezado_postulacion{
    display: flex;
    gap: 50%;
    margin-left: -10px;
}

.encabezado_postulacion h1{
    padding-bottom: 30px;
}

.encabezado_postulacion h4{
    font-size: 20px;
}

.ofertas{
    padding: 42px 30px;
    padding-bottom: 0px;
    border-bottom: 2px solid #f87400;
}

.ofertas_2{
    padding-bottom: 30px;
}

.ofertas h1{
    font-size: 24px;
    display: inline-block
}

.informacion{
    padding-right: 30px;
}

.informacion p{
    padding-bottom: 20px;
    text-align: justify;
    width: 480px;
    word-wrap: break-word;
    font-weight: bolder;
    line-height: 2;
}

/*Botones*/

.botones{
    margin-top: 35px;
    margin-left: 65%;
}

.boton_modificar{
    width: 166px;
    height: 51px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    padding: 13px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #F9D423, #F83600);
    border: none;
    margin-left: 22px;
}
