<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/Estilos/EstiloLandingCodeCraft.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Copse&family=Karla:wght@300&display=swap" rel="stylesheet">
    <title>Landing Page CodeCraft</title>
  </head>
<body>
<!-- Menú -->
    <div id="flex">
      <div id="cajaMorada">
        <div id="header">
          <img src="/Imagenes/logo.png" id="logo" />
          <div id="botones">
            <a href="#contactanos" id="boton">Contacto</a>
            <a href="#valores">Valores</a>
            <a href="#misionVision">Nosotros</a>
            <a href="#nuestroEquipo">Integrantes</a>
            <a href="/LandingPageProducto.html">Producto</a>
          </div>
          <!-- Menú desplegable -->
          <div id="botonResponsive">
            <div id="dropdown">
              <button><img src="/Imagenes/lista.png" /></button>
            </div>
            <div id="dropdownContent">
              <a href="#valoresResponsiveArriba">Valores</a>
              <a href="#misionVision">Nosotros</a>
              <a href="#nuestroEquipo">Integrantes</a>
              <a href="/LandingPageProducto.html">Producto</a>
              <a href="#contactanos">Contacto</a>
            </div>
          </div>
        </div>
        <!-- Encabezado -->
        <div id="flexEncabezado">
          <div id="textoEncabezado">
            <p id="textoAyuda">Te ayudamos a<br />contruir tu página.</p>
            <!--fin textoAyuda-->
            <p id="textoInfo">Somos una empresa especializada en el diseño y desarrollo de páginas web, brindando soluciones creativas y funcionales para satisfacer las necesidades digitales de sus clientes.</p>
          </div>
          <div>
            <img src="/Imagenes/encabezadoCodeCraft.png" id="encabezado" />
          </div>
        </div>
      </div>
    </div>
<!-- Sección de valores -->
    <div id="valores">
      <div id="nuestrosValores">
        <h2>Nuestros valores</h2>
        <p> Nos enfocamos en comprender las necesidades de nuestros cliente y superar sus expectativas, promoviendo la integridad y la transparencia en todas las interacciones. </p>
      </div>
      <div id="linea"></div>
      <div id="calidad">
        <img src="/Imagenes/valor1.png" id="valoresImagenes" />
        <h3>Calidad</h3>
        <p>Buscamos la excelencia en cada aspecto de nuestro trabajo, desde el diseño hasta la implementación y el soporte continuo.</p>
      </div>
      <div id="innovacion">
        <img src="/Imagenes/valor2.png" id="valoresImagenes" />
        <h3>Innovación</h3>
        <p>Buscamos constantemente nuevas formas de mejorar y ofrecer soluciones creativas que impulsen el éxito de nuestros clientes.</p>
      </div>
      <div id="orientacion">
        <img src="/Imagenes/valor3.png" id="valoresImagenes" />
        <h3>Orientación al cliente</h3>
        <p>Nos enfocamos en comprender sus necesidades y objetivos empresariales, brindándoles soluciones personalizadas y orientadas a resultados.</p>
      </div>
    </div>
<!-- Sección de valores responsive -->
    <div id="valoresResponsiveArriba">
      <div id="nuestrosValoresResponsive">
        <h2>Nuestros valores</h2>
        <p>
          Nos enfocamos en comprender las necesidades de nuestros cliente y
          superar sus expectativas, promoviendo la integridad y la transparencia
          en todas las interacciones.
        </p>
      </div>
      <div id="lineaResponsive"></div>
      <div id="calidadResponsive">
        <img src="/Imagenes/valor1.png" alt="" id="valoresImagenesResponsive" />
        <h3>Calidad</h3>
        <p>
          Buscamos la excelencia en cada aspecto de nuestro trabajo, desde el
          diseño hasta la implementación y el soporte continuo.
        </p>
      </div>
    </div>
    <!-- Segunda parte de valores -->
    <div id="valoresResponsiveAbajo">
      <div id="innovacionResponsive">
        <img src="/Imagenes/valor2.png" alt="" id="valoresImagenesResponsive" />
        <h3>Innovación</h3>
        <p>Buscamos constantemente nuevas formas de mejorar y ofrecer soluciones creativas que impulsen el éxito de nuestros clientes.</p>
      </div>
      <div id="orientacionResponsive">
        <img src="/Imagenes/valor3.png" alt="" id="valoresImagenesResponsive" />
        <h3>Orientación al cliente</h3>
        <p>Nos enfocamos en comprender sus necesidades y objetivos empresariales,brindándoles soluciones personalizadas y orientadas a resultados.</p>
      </div>
    </div>
<!-- Sección sobre la misión y visión -->
    <div id="misionVisionFlex">
      <div id="misionVision">
        <!-- Misión -->
        <div id="misionTexto">
          <h2>Misión</h2>
          <img src="/Imagenes/mision.jpg" id="misionImagen"/>
          <p>Nuestra misión es proporcionar soluciones de software de calidad excepcional que impulsen la transformación digital y el crecimiento empresarial de nuestros clientes. A través de la innovación tecnológica, el compromiso con la excelencia y la colaboración cercana con nuestros clientes, nos esforzamos por superar sus expectativas y convertirnos en su socio de confianza en el desarrollo de software.</p>
        </div>
        <!-- Visión -->
        <div id="visionTexto">
          <h2>Visión</h2>
          <img src="/Imagenes/vision.jpg" id="visionImagen" />
          <p>Nuestra visión es ser reconocidos como líderes en el desarrollo de software, ofreciendo soluciones vanguardistas y adaptadas a las necesidades cambiantes del mercado. Nos esforzamos por construir relaciones a largo plazo con nuestros clientes, brindando un valor excepcional y siendo la opción preferida cuando se trata de soluciones de software de calidad.</p>
        </div>
      </div>
    </div>
<!-- Sección con información de cada integrante -->
    <div id="nuestroEquipoFlex">
      <div id="nuestroEquipo">
        <h1>Nuestro equipo</h1>
        <!-- Fila 1 -->
        <div id="integrantesArriba">
          <!-- Integrante 1-->
          <div id="integrante1">
            <div id="circulo1"><img src="/Imagenes/shield-plus-solid-24.png" class="avatar"></div>
            <div id="equipo1">
              <h3>Coordinador general</h3>
              <p>Nombre: Antony Alonso Obando Arguedas<br/>Correo Electrónico: aaobandoa@ucenfotec.ac.cr<br/>Teléfono: 6052-5912 <br/>Dirección: San Rafael de Heredia <br/>Fortalezas: Liderazgo, manejo de conflictos, autocrítico, empático<br/>Debilidades: Impaciente, falta de creatividad</p>
            </div>
          </div>
          <!-- Integrante 2 -->
          <div id="integrante2">
            <div id="circulo2"><img src="/Imagenes/castle-solid-24.png" class="avatar"></div>
            <div id="equipo2">
              <h3>Coordinación de soporte</h3>
              <p>Nombre: Karla Mora Torres <br/>Correo Electrónico: kmorat@ucenfotec.ac.cr<br/>Teléfono: 8824-2887 <br/>Dirección: San Rafael de Montes de Oca <br/>Fortalezas: Creativa, puntual, dedicada <br/>Debilidades: Perfeccionista, dificultad para hablar en público</p>
            </div>
          </div>
        </div>
        <!-- Fila 2 -->
        <div id="integrantesArriba">
          <!-- Integrante 3 -->
          <div id="integrante1">
            <div id="circulo1"><img src="/Imagenes/bowl-rice-solid-24.png" class="avatar"></div>
            <div id="equipo1">
              <h3>Coordinación de Calidad</h3>
              <p>Nombre: Jose Luis Lopez Bermudez<br/>Correo Electrónico: jlopezb@ucenfotec.ac.cr <br/>Teléfono: 6015-3478<br/>Dirección: San Pablo de Heredia <br/>Fortalezas: Trabajo en equipo, responsable <br/>Debilidades: Perfeccionista, dificultad para delegar tareas</p>
            </div>
          </div>
          <!-- Integrante 4 -->
          <div id="integrante2">
            <div id="circulo2"><img src="/Imagenes/invader-solid-24.png" class="avatar"></div>
            <div id="equipo2">
              <h3>Coordinación de Calidad</h3>
              <p>Nombre: Saúl de Jesús Villalobos Mora<br />Correo Electrónico: svillalobosm@ucenfotec.ac.cr<br />Teléfono: 8710-0760<br />Dirección: La Colina de Curridabat, Tirrases <br />Fortalezas: Puntual, comprensivo, receptivo<br />Debilidades: Creatividad, dificultad de comunicación</p>
            </div>
          </div>
        </div>
        <!-- Fila 3 -->
        <div id="integranteFlex">
          <!-- Integrante 5 -->
          <div id="integrante3">
            <div id="circulo3"><img src="/Imagenes/dog-solid-24.png" class="avatar"></div>
            <div id="equipo3">
              <h3>Coordinador de desarrollo</h3>
              <p>Nombre: Jhonathan Alberto Quiceno Piedrahita<br/>Correo Electrónico: jquicenop@ucenfotec.ac.cr<br/>Teléfono: 8454-7601<br/>Dirección: San Pablo, Frente a repuestos guacamaya <br/>Fortalezas: empatía, comunicación efectiva, conocimiento técnico<br />Debilidades: Dificultad para delegar tareas, procrastinación.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Sección con información de contacto -->
    <div id="contactanos">
      <div id="formularioContacto">
        <h2>Contáctanos</h2>
        <form action="" id="formulario">
          <input type="text" name="" placeholder="Ingresar nombre" required />
          <input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" size="30" placeholder="Ingresar correo" required/>
          <textarea name="comentario" placeholder="Mensaje" required></textarea>
          <input type="submit" value="Enviar" id="enviar"/>
        </form>
      </div>
    </div>
</body>
<!-- Pie de página -->
<footer>
  <div id="footer">
    <div id="footerIzquierda">
      <div>
        <img src="/Imagenes/logo.png" id="logoFooter"/>
      </div>
      <div>
        <p id="frase">"Desafía tus límites, trasciende tus metas:<br/>El crecimiento personal te lleva más allá"</p>
      </div>
      <div id="socialMedia">
        <img src="/Imagenes/instagram-logo-24.png"/>
        <img src="/Imagenes/twitter-logo-24.png"/>
        <img src="/Imagenes/youtube-logo-24.png"/>
      </div>
    </div>
    <!-- Contacto -->
    <div id="footerDerecha">
      <div id="contacto">
        <h3>Contacto</h3>
        <div class="contacto">
          <img src="/Imagenes/map-solid-24.png" />
          <p>San José, Costa Rica</p>
        </div>
        <div class="contacto">
          <img src="/Imagenes/phone-solid-24.png" />
          <p>+506 8888 89999</p>
        </div>
        <div class="contacto">
          <img src="/Imagenes/envelope-solid-24.png" />
          <p>codecraft@gmail.com</p>
        </div>
      </div>
      <!-- Sobre nosotros -->
      <div id="sobre">
        <h3>Sobre</h3>
        <div class="centrar"><a href="#valores">Nosotros</a></div>
        <div class="centrar"><a href="">Noticias</a></div>
        <div class="centrar"><a href="#misionVision">Misión y Visión</a></div>
      </div>
      <!--Información relacionada al equipo-->
      <div id="compania">
        <h3>Compañia</h3>
        <div class="centrar"><a href="#nuestroEquipo">Nuestro equipo</a></div>
        <div class="centrar"><a href="">Socios</a></div>
        <div class="centrar"><a href="">Faq</a></div>
      </div>
    </div>
  </div>
</footer>
</html>
