<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Estilos/EstilosEncabezadoProducto.css">
    <link rel="stylesheet" href="/Estilos/EstiloLandingProducto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Copse&family=Karla:wght@300&display=swap" rel="stylesheet">
    <title>Landing page Growth</title>
</head>
<!-- Encabezado de la página -->
<header>
    <img src="/Imagenes/Growth_logo.png">
    <div class="nombre_equipo">
        <h3>Growth</h3>
        <p>Cultivando el crecimiento y los sueños</p>
    </div>
    <div class="Enlaces">
        <a href="#pagina2" class="opciones">¿Por qué nosotros?</a>
        <a href="#Ventajas" class="opciones">Ventajas</a>
        <a href="#caracteristicas" class="opciones">Características</a>
        <a href="/LandingPageCodeCraft.html" class="opciones">Conoce a CodeCraft</a>  
    </div>
</header>
<body>
    <!-- Sección con texto llamativo e imagen descriptiva -->
    <div class="contenedor_seccion_1" id="pagina1"> 
        <div class="seccion_1">
            <h1>Busca tu Carrera Soñada</h1>
            <p>Buscar tu carrera soñada es un viaje de autodescubrimiento y alineación de tus pasiones y habilidades con oportunidades profesionales. Requiere exploración, determinación y perseverancia para superar obstáculos en busca de un trabajo que te apasione y te brinde un propósito significativo.</p>
            <div class="contenedor_btn">
                <a href="HomeGrowth.html" class="btn_1">Comenzar Ahora</a>
            </div>
        </div>
        <div class="imagen_vacia"></div>
    </div>
   <!-- Sección con el porqué elegirnos -->
    <div class="contenedor_seccion_2" id="pagina2">
        <div class="seccion_2">
            <h2>¿Por qué Growth?</h2>
            <p class=" texto1">Growth es una plataforma valiosa para obtener información detallada sobre empresas y oportunidades laborales. Puedes aprovechar la plataforma para investigar la cultura empresarial, los salarios, los beneficios, los procesos de entrevista y planificar tu carrera de manera más efectiva. Al utilizar Growth, puedes tomar decisiones informadas y estratégicas en tu búsqueda de empleo y desarrollo profesional.</p>
            <div class="imagen_vacia2"></div>
            <div class="frases"> 
                <p>Potencia tu Éxito: Soluciones que Impulsan el Crecimiento Profesional </p> 
                <p>Desbloquea tu Potencial Profesional: Guiándote hacia el Crecimiento y el Éxito </p> 
                <p>Un Espacio de Posibilidades: Donde las Oportunidades Florecen</p>
            </div>
        </div>
    </div>
    <!-- Sección con las ventajas -->
    <div class=" contenedor_seccion_3" id="Ventajas"> 
        <div class="titulo_ventajas">
            <h2>Ventajas</h2>
        </div>
        <div class="titulo1y3">
            <div class=" texto1y3">
                <h3>Busqueda de empleo</h3>   
                <p>Growth es una herramienta poderosa para buscar empleo y explorar oportunidades laborales. Puedes crear un perfil profesional que destaque tus habilidades, experiencia y logros, y utilizarlo para postularte a empleos directamente en la plataforma .</p> 
            </div>
            <div class="imagen_vacia1"></div>  
        </div>
        <div class="titulo2y4">
            <div class="texto2y4"> 
                <h3>Investigación empresarial</h3>
                <p>Antes de postularte a un empleo o aceptar una oferta, se te brinda la oportunidad de investigar y obtener información sobre las empresas que te interesan. Puedes explorar los perfiles de la empresa, leer sobre su historia, cultura, productos o servicio.  </p>
            </div>
        <div class="imagen_vacia22"></div>
        </div>
        <div class="titulo1y3">
            <div class="texto1y3">
                <h3> Exposicion </h3>
                <p>Al utilizar Growth tendras una mayor visibilidad y exposición a reclutadores y empresas</p>
            </div>
            <div class="imagen_vacia3"></div>
        </div>
        <div class="titulo2y4">
            <div class="texto2y4">
                <h3>Facil</h3>
                <p>Somos una plataforma facil a que nos referimos con esto que con solo despues de 3 simples pasos podras buscar empleo con nosotros.</p>
            </div>
            <div class="imagen_vacia4"></div>
        </div>
    </div>
    <!-- Sección con las características -->
    <div class="caracteristicas" id="caracteristicas">
        <h2>Características</h2>
        <div class="links_Secciones">
            <a href="#">pagina 1</a>
            <a href="#">pagina 2</a>
            <a href="#">pagina 3</a>
        </div>
    </div>
    <div class="final_pagina">
        <div class="final1">
            <h3>Eficiencia</h3>
            <p>Un buen sistema se caracteriza por su capacidad para realizar tareas de manera rápida y precisa, optimizando los recursos disponibles.</p>
        </div>
        <div class="final2">
            <h3>Confabilidad</h3>
            <p>Un sistema confiable es aquel que funciona de manera consistente y sin fallos, brindando resultados precisos y consistentes en todo momento.</p>
        </div>
        <div class="final3">
            <h3>Eficiencia</h3>
            <p> Un buen sistema se caracteriza por su capacidad para realizar tareas de manera rápida y precisa, optimizando los recursos disponibles..</p>
        </div>
    </div>
</body>
<!-- Pie de página -->
<footer>
    <div class="footerp">
        <p>© Copyright 2023 Growth</p>
        <div class="footerlogos">
            <a href=""><img src="/Imagenes/facebook_logo.png" alt="icono facebook"></a>
            <a href=""><img src="/Imagenes/twitter_logo.png" alt="icono twitter"></a>
            <a href=""><img src="/Imagenes/instagram_logo.png" alt="icono Instagram"></a>
        </div>
    </div>
</footer>
</html>





































